.health-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.bar {
  background: #c54;
  width: 100%;
  height: 10px;
  position: relative;
  
  transition: width .5s linear;
}

.hit {
  background: rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  
  transition: width .5s linear;
}

.skill {
  background-image: url("icons/strongAtkActive.png");
  background-size: 145px 145px;
  cursor: pointer;
  height: 145px;
  width: 145px;
}

.skill[disabled]{
  background-image: url("icons/strongAtkDisabled.png");
  cursor: auto;
}


.startButton {
  background: #76f096;
  background-image: -webkit-linear-gradient(top, #76f096, #418a58);
  background-image: -moz-linear-gradient(top, #76f096, #418a58);
  background-image: -ms-linear-gradient(top, #76f096, #418a58);
  background-image: -o-linear-gradient(top, #76f096, #418a58);
  background-image: linear-gradient(to bottom, #76f096, #418a58);
  -webkit-border-radius: 45;
  -moz-border-radius: 45;
  border-radius: 45px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.startButton:hover {
  background: #4a8051;
  background-image: -webkit-linear-gradient(top, #4a8051, #00d619);
  background-image: -moz-linear-gradient(top, #4a8051, #00d619);
  background-image: -ms-linear-gradient(top, #4a8051, #00d619);
  background-image: -o-linear-gradient(top, #4a8051, #00d619);
  background-image: linear-gradient(to bottom, #4a8051, #00d619);
  text-decoration: none;
}