.skill {
  background-image: url("icons/strongAtkActive.png");
  background-size: 145px 145px;
  cursor: pointer;
  height: 145px;
  width: 145px;
}

.skill[disabled]{
  background-image: url("icons/strongAtkDisabled.png");
  cursor: auto;
}

.info-def {
  text-align: right;
}

/*Health Bar*/

.health {
  width: 200px;
  height: 50px;
  position: relative;
}

.healthbar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  position: relative;
  background-color: #D8D8D8FF;
  width: 200px;
  height: 20px;
  /*bottom: -10px;*/
  padding: 5px;
  border-radius: 5px;
}

.bar {
  position: absolute;
  background-color: #3EC072FF;
  width: 190px;
  height: 10px;
  transition: width .5s linear;
}

.reverse {
  top: 5px;
  right: 5px;
}
